extends layout

block content
  h1 Flok's API: Timestamp microservice
  h2 Example Usage:
  code https://timestamp-flok.glitch.me/September 09, 2017
  br
  code https://timestamp-flok.glitch.me/1504908000
  h2 Expected Output is JSON
  code { "unix": 1504908000, "natural": "September 09, 2017" }
